<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Data Access</title>
</head>

<!-- A display area (text) which shows a bulleted list of datasets available
on the public dataset.  -->

<body>

<h1> Public Datasets </h1>

<a href="https://genesys-lab.org" target="_blank">
    <img src="/static/images/genesys-img.png" alt="genesys-lab.org" style="width: 800px">
</a>

<h2> Genesys Labs </h2>

<h3>Overview</h3>

<p>Genesys works on topics spanning various technologies and architectures involving
    wireless networks, from small implantable sensors within the human body to
    next generation macro-cell networks. Genesys is not only enthusiastic about
    creating new theoretical foundations, but also demonstrating the technology
    on real systems. Their team is composed of students and research personnel
    from all over the world, and Genesys enjoys the learning opportunity that comes
    with this diverse and multicultural environment. </p>

<h2>Public Database</h2>
<h3>ORACLE RF Fingerprinting Dataset</h3>
<a href="https://genesys-lab.org/oracle" target="_blank">
    <img src="/static/images/oracle-rf.png" alt="oracle-rf" style="width: 250px; height: 200px">
</a>
<ul>
    <li>
        Dataset #1 : recordings of raw IQ samples collected from over-the-air transmissions of 16 USRP X310 transmitter
        radios
        <br>
        <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m044q5210?datastream_id=content';">
            Download Zip (28.17GB)
        </button>
    </li>
    <li>
        Dataset #2: recordings of demodulated IQ symbols collected after equalizing over-the-cable transmissions of 16
        IQ imbalance configurations
        <br>
        <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m044q523j?datastream_id=content';">
            Download Zip (309.6MB)
        </button>
    </li>
</ul>

<h3>AirID RF Fingerprinting Datasets</h3>
<a href="http://www.genesys-lab.org/airid" target="_blank">
    <img src="/static/images/airID-rf.png" alt="airID-rf" style="width: 250px; height: 200px">
</a>
<ul>
    <li>
        Captured raw UAV transmissions containing custom RF fingerprints for enhanced UAV identification
        <br>
        <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:bz60qz51s?datastream_id=content';">
            Download Zip
        </button>
    </li>
</ul>

<h3>POWDER RF Fingerprinting Datasets</h3>
<a href="http://www.genesys-lab.org/powder" target="_blank">
<img src="/static/images/powder-rf.png" alt="powder-rf" style="width: 250px; height: 200px">
</a>
    <ul>
    <li>
        Raw IQ samples of over-the-air transmissions from 4 Base Stations deployed in the POWDER platform, in Salt Lake
        City, Utah, USA
        <br>
        <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046tb444?datastream_id=content';">
            Download Zip
        </button>
    </li>
</ul>

<h3>Data Augmentation RF Fingerprinting Datasets</h3>
<a href="http://www.genesys-lab.org/dataaugmentation" target="_blank">
<img src="/static/images/data-augmentation.png" alt="data augmentation" style="width: 250px; height: 200px">
</a>
    <ul>
    <li>
        Dataset#1: TxData
        <br>
        <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td40f?datastream_id=content';">
            Download Zip
        </button>
    </li>
    <li>
        Dataset#2: Day 1
        <ol>
            <li>
                part 1
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td20z?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 2
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td217?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 3
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td22h?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 4
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td23s?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 5
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td242?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 6
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td25b?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 7
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td26m?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 8
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td27w?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 9
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td285?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 10
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td29f?datastream_id=content';">
                    Download Zip
                </button>
            </li>
        </ol>
    </li>
    <li>
        Dataset#3: Day 2
        <ol>
            <li>
                part 1
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td306?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 2
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td31g?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 3
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td32r?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 4
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td331?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 5
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td349?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 6
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td35k?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 7
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td36v?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 8
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td27w?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 9
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td374?datastream_id=content';">
                    Download Zip
                </button>
            </li>
            <li>
                part 10
                <br>
                <button onclick="window.location.href='https://repository.library.northeastern.edu/downloads/neu:m046td39p?datastream_id=content';">
                    Download Zip
                </button>
            </li>
        </ol>
    </li>
</ul>


<a href="https://physionet.org" target="_blank">
    <img src="/static/images/physio-net.png" alt="physionet" style="width: 800px">
</a>

<h2> Genesys Labs </h2>

<h3>Overview</h3>

<p>PhysioNet, the moniker of the Research Resource for Complex Physiologic Signals, was established in 1999 under the
    auspices of the National Institutes of Health (NIH), as described further below. The PhysioNet Resource’s original
    and ongoing missions were to conduct and catalyze for biomedical research and education, in part by offering free
    access to large collections of physiological and clinical data and related open-source software. In cooperation with
    the annual Computing in Cardiology conference, PhysioNet also hosts an annual series of challenges, focusing
    research on unsolved problems in clinical and basic science. Members of PhysioNet’s team are actively involved in
    innovative work on analysis of physiologic signals, both from basic and translational perspectives. </p>

<h2>Public Database</h2>

<ul>
    <li>
        Abdominal and Direct Fetal ECG Database: Multichannel fetal electrocardiogram recordings obtained from 5
        different women in labor, between 38 and 41 weeks of gestation.
        <br>
        <button onclick="window.location.href='https://physionet.org/static/published-projects/adfecgdb/abdominal-and-direct-fetal-ecg-database-1.0.0.zip';">
            Download Zip (14.6 MB)
        </button>
    </li>
    <li>
        AF Termination Challenge Database: ECG recordings created for the Computers in Cardiology Challenge 2004, which
        focused on predicting spontaneous termination of atrial fibrillation.d IQ symbols collected after equalizing
        over-the-cable transmissions of 16
        IQ imbalance configurations
        <br>
        <button onclick="window.location.href='https://physionet.org/static/published-projects/aftdb/af-termination-challenge-database-1.0.0.zip';">
            Download Zip (2.4 MB)
        </button>
    </li>
    <li>
        AHA Database Sample Excluded Record: Two ECG signals that were excluded from the 1980 American Heart Association
        database.
        <br>
        <button onclick="window.location.href='https://physionet.org/static/published-projects/ahadb/aha-database-sample-excluded-record-1.0.0.zip';">
            Download Zip (9.2 MB)
        </button>
    </li>
    <li>
        A multi-camera and multimodal dataset for posture and gait analysis: Multimodal dataset with 166k samples for
        vision-based applications with a smart walker used in gait and posture rehabilitation. It is equipped with a
        pair of Depth cameras with data synchronized with an inertial MoCap system worn by the participant.
        <br>
        <button onclick="window.location.href='https://physionet.org/static/published-projects/multi-gait-posture/a-multi-camera-and-multimodal-dataset-for-posture-and-gait-analysis-1.0.0.zip';">
            Download Zip (19.4 GB)
        </button>
    </li>
    <li>
        ANSI/AAMI EC13 Test Waveforms: The files in this set can be used for testing a variety of devices that monitor
        the electrocardiogram. The recordings include both synthetic and real waveforms.
        <br>
        <button onclick="window.location.href='https://physionet.org/static/published-projects/aami-ec13/ansiaami-ec13-test-waveforms-1.0.0.zip';">
            Download Zip (1.1 MB)
        </button>
    </li>
</ul>


</body>
</html>