{% extends "base.html" %}
{% block content %}

{% if not logged_in: %}

<h1>Please login before accessing projects</h1>
<img src="static/images/please_login.png" alt="hello-world" class="user_img">

{% else: %}

<h1>Projects</h1>

<!--    <script>-->
<!--        function openCreateProject(){-->
<!--            document.getElementById("joinForm").style.display = "none";-->
<!--            document.getElementById("createForm").style.display = "block";-->
<!--        }-->

<!--        function closeCreateProject(){-->
<!--            document.getElementById("createForm").style.display = "none";-->
<!--        }-->

<!--        function openJoinProject(){-->
<!--            document.getElementById("createForm").style.display = "none";-->
<!--            document.getElementById("joinForm").style.display = "block";-->
<!--        }-->

<!--        function closeJoinProject(){-->
<!--            document.getElementById("joinForm").style.display = "none";-->
<!--        }-->

<!--    </script>-->
<!--    <div style="text-align:center">-->
<!--        <br>-->
<!--        <span>-->
<!--            <button onclick="openCreateProject()" id = "open">Create a New Project</button>-->
<!--            <button onclick="openJoinProject()" id = "open1">Join an Existing Project</button>-->
<!--        </span>-->
<!--    </div>-->

    <br><br>

    <!-- Show all the projects that the user can "join" -->
    {% with projects = project_manager.find() %}
        {% if projects %}
            <style>
                th, td {
                  border:1px solid black;
                }
            </style>
            <table style="text-align: center;
                          border: 1px solid black;
                          width: 40%;
                          align: center;
                          margin-left:auto;
                          margin-right:auto;">
                <tr>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Project Description</th>
                </tr>
                {% for project in projects %}
                    <tr>
                        <td>{{ project['ID'] }}</td>
                        <td>{{ project['Name'] }}</td>
                        <td>{{ project['Description'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endwith %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="error_message"><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
{% endwith %}

<br><br>

<!-- create_new_project_form=create_new_project_form, join_existing_project_form=join_existing_project_form) -->

<div class="row projects_form">
  <div class="col-sm-6">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <form action="{{ url_for('projects') }}" method="post">
            <h5 class="card-title">Create a New Project</h5>
            <p> {{create_new_project_form.project_name(size=32, placeholder='project name')}} <br></p>
            <p> {{create_new_project_form.project_description(size=32, placeholder='project description')}} <br></p>
            <p> {{create_new_project_form.project_id(size=32, placeholder='project id')}} <br></p>
            <p> {{ create_new_project_form.submit() }} </p>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <form action="{{ url_for('projects') }}" method="post">
            <h5 class="card-title">Join an Existing Project</h5>
            <p> {{join_existing_project_form.id(size=32, placeholder='project id')}} <br></p>
            <br><br><br><br>
            <p> {{ join_existing_project_form.submit() }} </p>
        </form>
      </div>
    </div>
  </div>
</div>

<!--    &lt;!&ndash;Pop up window for creating and using existing project here> -->
<!--    <div class="form-popup" id="createForm" style="display: None; margin-top: 50px; text-align: center; color: #2F4F4F;">-->
<!--        <form class = "form-container" id = "createProjectForm" method="post">-->
<!--            <p>Project Name <input type = "text" name = "Project Name"></p>-->
<!--            <p>Project Description <input type = "text" name = "Project Description"></p>-->
<!--            <p>Project ID <input type = "text" name = "Project ID"></p>-->
<!--            <button id="create"> Create </button>-->
<!--        </form>-->
<!--        <br>-->
<!--        <button onclick="closeCreateProject()" id="close1"> Close </button>-->
<!--    </div>-->

<!--    <div class="form-popup" id="joinForm" style="display: None; margin-top: 50px; text-align: center; color: #2F4F4F;">-->
<!--        <form class = "form-container" id = "joinProjectForm" method="post">-->
<!--            <p>Project ID <input type = "text"></p>-->
<!--            <button id = "submit"> Submit</button>-->
<!--        </form>-->
<!--        <br>-->
<!--        <button onclick="closeJoinProject()" id="close2"> Close </button>-->
<!--    </div>-->

{% endif %}

{% endblock %}
