{% extends "base.html" %}
{% block content %}

{% if not logged_in: %}
    <div style="text-align:center">
    <h1>Please login before accessing projects</h1>
    <img src="static/images/please_login.png" alt="hello-world" class="user_img">
    <p></p>
    <a href="./login">
       <button>Login</button>
    </a>
    </div>
{% else: %}
    <script>
        function openCreateProject(){
            document.getElementById("useForm").style.display = "none";
            document.getElementById("createForm").style.display = "block";
        }

        function closeCreateProject(){
            document.getElementById("createForm").style.display = "none";
        }

        function openUseProject(){
            document.getElementById("createForm").style.display = "none";
            document.getElementById("useForm").style.display = "block";
        }

        function closeUseProject(){
            document.getElementById("useForm").style.display = "none";
        }

    </script>
    <div style="text-align:center">
        <h1>Projects</h1>
        <button onclick="openCreateProject()" id = "open">Create a New Project</button>
        <p></p>
        <button onclick="openUseProject()" id = "open1">Use an Existing Project</button>
        <p></p>
    </div>

    <br>

    <!-- Show all the projects that the user can "join" -->
    {% with projects = project_manager.find() %}
        {% if projects %}
            {% for project in projects %}
                <p style="text-align: center;">{{ project }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<!--    &lt;!&ndash;Pop up window for creating and using existing project here> -->
    <div class="form-popup" id = "createForm" style="display: None; margin-top: 50px; text-align: center; color: #2F4F4F;">
        <form class = "form-container" id = "createProjectForm">
            <input type = "text"> Project Name</input>
            <input type = "text"> Project Description</input>
            <input type = "text"> Project ID</input>
            <button onclick="closeCreateProject()" id="close1"> Close </button>
        </form>
    </div>

    <div class="form-popup" id = "useForm" style="display: None; margin-top: 50px; text-align: center; color: #2F4F4F;">
        <form class = "form-container" id = "useProjectForm">
            <input type = "text"> Project ID</input>
            <button onclick="closeUseProject()" id="close2"> Close </button>
        </form>
    </div>

{% endif %}

{% endblock %}
